
@{
    ViewData["Title"] = "Libraries Gallery";
    List<Product> products = (List<Product>)ViewData["Products"];

    int column = 3, row = 4, page = 1;
    List<Product> showing = new List<Product>();
    
}

@if (ViewData["Message"] != null)
{
    <div class="alert alert-info" role="alert">
        @ViewData["Message"]
    </div>
}

@foreach (Product p in products) { 
    <p>@p.Id @p.Name @p.Price @p.ImageLink @p.Description   </p>
}