@model GalleryViewModel

@section Scripts
{
    <script src="~/js/gallery.js"></script>
}
@{
    ViewData["Title"] = "Libraries Gallery";
}

<div style="text-align:center">
    <form class="inlinef" action="/Gallery/SearchAction" method="post">
        <input type="number" name="page" value="1" hidden />
        <input style="font-size:30px" size="35" type="text"  id="searchbar" name="search" value="@ViewData["searchbar"]" placeholder="Search.." />
        <button style="font-size:30px; float:right;" type="submit">Go</button>
    </form>
</div>
    
<table class="gallery" style="border-spacing: 20px 20px; border-collapse: separate;" border="0">
    @for (int i = 0; i < Model.DisplayedProducts.Count; i += Model.Columns)
    {
        <tr>
            @for (int j = i; j < i + Model.Columns && j < Model.DisplayedProducts.Count; ++j)
            {
                string url = Model.DisplayedProducts[j].ImageLink.StartsWith("~") ? Model.DisplayedProducts[j].ImageLink.Substring(1) : Model.DisplayedProducts[j].ImageLink;
                <td class="galleryTtd" style="border: 2px solid black">
                    <div>
                        <img src="@url" width="75" />
                        <h2>@Model.DisplayedProducts[j].Name</h2>
                        <p>@Model.DisplayedProducts[j].Description</p>
                        <button class="productbtn" type="button" productId="@Model.DisplayedProducts[j].Id">$@Model.DisplayedProducts[j].Price - Add To Cart</button><br />
                    </div>
                </td>
            }
        </tr>
    }
</table>

@Model.TotalPage

@if (Model.TotalPage > 1)
{
    <div align="center">
        @if (Model.Page != 1)
        {
            <form class="inlinef" action="/Gallery/ToPage" method="post">
                <input type="text" name="search" value="@ViewData["searchbar"]" hidden />
                <button type="submit" name="page" value="@(Model.Page - 1)">&lt&lt</button>
            </form>
        }
        @for (int i = 1; i <= Model.TotalPage; ++i)
        {
            if (i == Model.Page)
            {
                <button class="activePage">@i</button>
            }
            else
            {
                <form class="inlinef" action="/Gallery/ToPage" method="post">
                    <input type="text" name="search" value="@ViewData["searchbar"]" hidden />
                    <button type="submit" class="nonactivePage" name="page" value="@i">@i</button>
                </form>
            }
        }
        @if (Model.Page < Model.TotalPage)
        {
            @(Model.Page + 1)

            <form class="inlinef" action="/Gallery/ToPage" method="post">
                <input type="text" name="search" value="@ViewData["searchbar"]" hidden />
                <button type="submit" name="page" value="@(Model.Page + 1)">&gt&gt</button>
            </form>
        }
    </div>
}