@{
    ViewData["Title"] = "Purchases";
}
@model IEnumerable<PurchasesViewModel>

<style>
    .product-image {
        width: 150px;
        height: 150px;
    }
    .product-description{
        align-content: center;
        border:solid;
        table-layout: fixed;
        width: 250px;
        margin: 12px;
    }
    .purchase-description{
        margin: 12px;
    }
    td{
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }
    .overall-table{
        margin-left: auto;
        margin-right: auto;
    }
    .download-button:hover {
        background-color: #b49543;
    }

</style>

<table class="overall-table">
    @foreach (var group in Model)
    {
        <tr>
            <td>
                <table class="product-description">
                    <tr>
                        <td><img src="@group.ImageLink.Substring(1)" class="product-image" /></td>
                    </tr>
                    <tr>
                        <td>@group.Description</td>
                    </tr>
                    <tr>
                        <td><button class="download-button">Download</button></td>
                    </tr>
                </table>
                
            </td>
            <td>
                <table class="purchase-description">
                    <tr>
                        <td>Purchased on: @group.DateTime.ToString("dd MMM yyyy")</td>
                    </tr>
                    <tr>
                        <td>Quantity: @group.Quantity</td>
                    </tr>
                    <tr>
                        <td>
                            Activation code: 
                            @{ if (group.Quantity > 1)
                                {
                                <select>
                                    @foreach (string i in group.ActivationCode)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                                }
                                else {
                                    @group.ActivationCode[0];
                                    }
                                }
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
    }
</table>       
    