@model List<Cart>

@{
    ViewData["Title"] = "View Cart";
    int row = 0;
}

@section Scripts {
    <script src="~/js/cart.js"></script>
}

<table id="cartTable" class="gallery" style="border-spacing: 20px 20px; border-collapse: separate;" border="0">
    @foreach (Cart c in Model)
    {
        <tr id=@("row" + row)>
            <td style="border:2px solid black;" width="50%">
                <img src="@c.Product.ImageLink.TrimStart('~')" />
                <p>@c.Product.Name</p>
                <p>@c.Product.Description</p>
            </td>
            <td>
                <p id="@("price" + c.ProductId)">Unit Price:       @("$" + (c.Product.Price).ToString())</p>
                <p>
                    Quantity:
                    <input id="@("quantity" + c.ProductId)" class="productQuantity" type="number" min="1" value="@c.Quantity" style="width: 55px;" required />
                    <input type="image" id="@("remove" + c.ProductId)" class="productRemove" data-row="@row" src="~/images/trash_white.png" width="25" >
                </p>

            </td>
        </tr>
        row++;
    }
</table>